pip
setuptools==68.2.2
wheel

Flask==3.0.0
Werkzeug==3.0.1

numpy==1.24.4
Pillow==10.2.0

opencv-python-headless==4.9.0.80

torch==2.1.2
torchvision==0.16.2

paddlepaddle==2.6.0
paddleocr==2.7.0.3

spacy==3.7.2

fuzzywuzzy
python-Levenshtein

scikit-image==0.22.0

fpdf==1.7.2

transformers==4.36.2
sentencepiece
sacremoses
